<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bondex.mapper.HawbRecordInfoMapper" >
  <resultMap id="BaseResultMap" type="com.bondex.pojo.HawbRecordInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="board_id" property="boardId" jdbcType="VARCHAR" />
    <result column="mawb_id" property="mawbId" jdbcType="VARCHAR" />
    <result column="mawb" property="mawb" jdbcType="VARCHAR" />
    <result column="hawb_id" property="hawbId" jdbcType="VARCHAR" />
    <result column="hawb" property="hawb" jdbcType="VARCHAR" />
    <result column="percentum" property="percentum" jdbcType="VARCHAR" />
    <result column="box" property="box" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, board_id, mawb_id, mawb, hawb_id, hawb, percentum, box, create_time, update_time, 
    operator
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bondex.pojo.HawbRecordInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hawb_record_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hawb_record_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hawb_record_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bondex.pojo.HawbRecordInfoExample" >
    delete from hawb_record_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bondex.pojo.HawbRecordInfo" >
    insert into hawb_record_info (id, board_id, mawb_id, 
      mawb, hawb_id, hawb, 
      percentum, box, create_time, 
      update_time, operator)
    values (#{id,jdbcType=INTEGER}, #{boardId,jdbcType=VARCHAR}, #{mawbId,jdbcType=VARCHAR}, 
      #{mawb,jdbcType=VARCHAR}, #{hawbId,jdbcType=VARCHAR}, #{hawb,jdbcType=VARCHAR}, 
      #{percentum,jdbcType=VARCHAR}, #{box,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bondex.pojo.HawbRecordInfo" >
    insert into hawb_record_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="boardId != null" >
        board_id,
      </if>
      <if test="mawbId != null" >
        mawb_id,
      </if>
      <if test="mawb != null" >
        mawb,
      </if>
      <if test="hawbId != null" >
        hawb_id,
      </if>
      <if test="hawb != null" >
        hawb,
      </if>
      <if test="percentum != null" >
        percentum,
      </if>
      <if test="box != null" >
        box,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="operator != null" >
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="boardId != null" >
        #{boardId,jdbcType=VARCHAR},
      </if>
      <if test="mawbId != null" >
        #{mawbId,jdbcType=VARCHAR},
      </if>
      <if test="mawb != null" >
        #{mawb,jdbcType=VARCHAR},
      </if>
      <if test="hawbId != null" >
        #{hawbId,jdbcType=VARCHAR},
      </if>
      <if test="hawb != null" >
        #{hawb,jdbcType=VARCHAR},
      </if>
      <if test="percentum != null" >
        #{percentum,jdbcType=VARCHAR},
      </if>
      <if test="box != null" >
        #{box,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bondex.pojo.HawbRecordInfoExample" resultType="java.lang.Integer" >
    select count(*) from hawb_record_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hawb_record_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.boardId != null" >
        board_id = #{record.boardId,jdbcType=VARCHAR},
      </if>
      <if test="record.mawbId != null" >
        mawb_id = #{record.mawbId,jdbcType=VARCHAR},
      </if>
      <if test="record.mawb != null" >
        mawb = #{record.mawb,jdbcType=VARCHAR},
      </if>
      <if test="record.hawbId != null" >
        hawb_id = #{record.hawbId,jdbcType=VARCHAR},
      </if>
      <if test="record.hawb != null" >
        hawb = #{record.hawb,jdbcType=VARCHAR},
      </if>
      <if test="record.percentum != null" >
        percentum = #{record.percentum,jdbcType=VARCHAR},
      </if>
      <if test="record.box != null" >
        box = #{record.box,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hawb_record_info
    set id = #{record.id,jdbcType=INTEGER},
      board_id = #{record.boardId,jdbcType=VARCHAR},
      mawb_id = #{record.mawbId,jdbcType=VARCHAR},
      mawb = #{record.mawb,jdbcType=VARCHAR},
      hawb_id = #{record.hawbId,jdbcType=VARCHAR},
      hawb = #{record.hawb,jdbcType=VARCHAR},
      percentum = #{record.percentum,jdbcType=VARCHAR},
      box = #{record.box,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      operator = #{record.operator,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bondex.pojo.HawbRecordInfo" >
    update hawb_record_info
    <set >
      <if test="boardId != null" >
        board_id = #{boardId,jdbcType=VARCHAR},
      </if>
      <if test="mawbId != null" >
        mawb_id = #{mawbId,jdbcType=VARCHAR},
      </if>
      <if test="mawb != null" >
        mawb = #{mawb,jdbcType=VARCHAR},
      </if>
      <if test="hawbId != null" >
        hawb_id = #{hawbId,jdbcType=VARCHAR},
      </if>
      <if test="hawb != null" >
        hawb = #{hawb,jdbcType=VARCHAR},
      </if>
      <if test="percentum != null" >
        percentum = #{percentum,jdbcType=VARCHAR},
      </if>
      <if test="box != null" >
        box = #{box,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bondex.pojo.HawbRecordInfo" >
    update hawb_record_info
    set board_id = #{boardId,jdbcType=VARCHAR},
      mawb_id = #{mawbId,jdbcType=VARCHAR},
      mawb = #{mawb,jdbcType=VARCHAR},
      hawb_id = #{hawbId,jdbcType=VARCHAR},
      hawb = #{hawb,jdbcType=VARCHAR},
      percentum = #{percentum,jdbcType=VARCHAR},
      box = #{box,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>